@import "Base";

.containerHeader {
    height: 100vh;
    width: 100%;
    background: rgb(29,30,148);
    background: linear-gradient(105deg, rgba(29,30,148,1) 17%, rgba(122,32,225,1) 50%, rgba(160,71,189,1) 72%, rgba(250,47,211,1) 100%);
    color: white;
}

.containerHeader__menu {
    padding: 0 10px 0 10px;
    

    &--paragraph {
        margin: 0;
        font-size: 25px;  
    }

    &--hamburger {
        height: 30px;
    }
}

.containerHeader__logo {
    
    &--name {
        border: 15px solid white;
        font-size: 100px;
        font-weight: bold;
        line-height: 0.9;
        padding: 25px;
    }
}

.containerBenefits {
    margin: 100px 0 100px 0;
}

.containerBenefits__admission {
    margin: 0 0 50px 0;
    text-align: center;
    

    span {
        color: #FF00CC;
    }

    &--paragraph {
        margin: 0;
        font-size: 15px;
    }
}

.benefitsList__single {
    text-align: center;
    margin: 0 10px 0 10px;
    box-shadow: 2px 0 38px -6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 0 38px -6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 0 38px -6px rgba(0,0,0,0.6);

    &--icon {
        height: 45px;
        margin-bottom: 20px;
    }

    &--theme {
        font-size: 25px;
    }

    &--paragraph{
        font-size: 15px;
    }
}

.containerFeatures {
    background: rgb(29,30,148);
    background: linear-gradient(105deg, rgba(29,30,148,1) 17%, rgba(122,32,225,1) 50%, rgba(160,71,189,1) 72%, rgba(250,47,211,1) 100%);
    color: white;
    padding: 100px 0 100px 0;

    &__theme {
        font-size: 30px;
        margin-left: 15px;
        font-weight: normal;
    }

    &__paragraph {
        font-size: 18px;
        margin-top: 20px;
        text-align: left;
        margin-left: 15px;
    }

    &__btn {
        background: none;
        color: white;
        font-weight: bold;
        border: white 1px solid;
        font-size: 18px;
        padding: 10px 25px 10px 25px;
        border-radius: 50px;
        margin-left: 15px;
        margin-bottom: 50px;
    }
}

.containerProgress {
    margin: 150px 0 100px 0;

    &__theme {
        font-size: 30px;
        margin-left: 15px;
        font-weight: normal;
    }

    &__paragraph {
        font-size: 18px;
        margin-top: 20px;
        text-align: left;
        margin-left: 15px;
        margin-bottom: 30px;
    }
}

.progressBar {
    background-color: #c9d2dc;
    margin: 0 15px 20px 15px;
    border-radius: 5px;
    height: 40px;

    &__percent {
        color: white;
        background-color: #FF00CC;
        height: 40px;
        margin-right: 20px;
        margin-bottom: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 24px;
        font-weight: lighter;
        text-align: center;
    }

    &__percentSecond {
        margin-right: 40px;
    }
}

.containerTestimonials {
    text-align: center;
    background-image: url('../img/bg-white.jpg');
 
    &__theme {
        font-size: 40px;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    &__image {
        height: 100px;
        filter: invert(28%) sepia(91%) saturate(7493%) hue-rotate(306deg) brightness(110%) contrast(113%);
    }

    &__paragraph {
        font-size: 25px;
    }

}

.commentPerson {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 75px;
   

    &__image {
        height: 70px;
        border-radius: 50%;
    }

    &__paragraph {
        margin-left: 10px;
        font-size: 18px;
        margin-bottom: 0;
    }
}

.containerWorks {
    text-align: center;
    padding-top: 100px;
    margin: 0 15px 0 15px;
    margin-bottom: 100px;

    &__theme {
        font-size: 35px;
    }

    &__paragraph {
        font-size: 18px;
    }

    &__image {
        width: 100%;
        margin: 15px 0 15px 0;
        border-radius: 5px;
    }

    &__list {
        margin-top: 20px;
        list-style-type: none;
        color: #FF00CC;
        font-size: 17px;
        padding: 0;
    }
}

.containerCooperation {
    background: rgb(29,30,148);
    background: linear-gradient(105deg, rgba(29,30,148,1) 17%, rgba(122,32,225,1) 50%, rgba(160,71,189,1) 72%, rgba(250,47,211,1) 100%);
    height: 50vh;
    color: white;

    &__theme {
        text-align: center;
        margin-bottom: 20px;
        font-size: 35px;
    }

    &__image {
        height: 150px;
    }
} 

.containerContact {
    text-align: center;
    margin: 100px 15px 60px 15px;
    box-shadow: 2px 0 38px -6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 0 38px -6px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 0 38px -6px rgba(0,0,0,0.6);
    border-radius: 5px;

    &__theme {
        margin: 40px 0 20px 0;
        font-size: 35px;
    }

    &__input {
        width: 280px;
        margin-bottom: 20px;
        font-size: 18px;
        padding: 10px 0 10px 15px;
    }

    &__btn {
        background-color: #FF00CC;
        border: none;
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 50px;
    }
}

.containerSolution {
    margin: 0 15px 100px 15px;

    &__theme {
        font-size: 35px;
        margin-bottom: 35px;
    }

    &__paragraph {
        font-size: 18px;
    }

    &__btn {
        border: none;
        font-weight: bold;
        color: #FF00CC;
        margin-top: 20px;
        font-size: 18px;
    }
}

.containerIcons__icon {
    text-align: center;
    margin-top: 20px;

    &--image {
        height: 60px;
    }

    &--paragraph {
        font-size: 18px;
    }
}

.containerInformation {
    background: rgb(29,30,148);
    background: linear-gradient(105deg, rgba(29,30,148,1) 17%, rgba(122,32,225,1) 50%, rgba(160,71,189,1) 72%, rgba(250,47,211,1) 100%);
    color: white;
    text-align: center;
    padding-bottom: 80px;

    &__theme {
        margin-top: 100px;
        font-size: 40px;
        font-weight: normal;
    }

    &__paragraph {
        font-size: 18px;
    }

    &__btn {
        background: none;
        color: white;
        border: 1.5px solid white;
        border-radius: 50px;
        padding: 5px 20px 5px 20px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }
}

.containerSocial {

    &__paragraph {
        margin-top: 20px;
        font-size: 18px;
        
        span {
            color: #FF00CC;
        }
    }
}

.containerSocial__icons {

    &--single {
        height: 20px;
        filter: invert(28%) sepia(91%) saturate(7493%) hue-rotate(306deg) brightness(110%) contrast(113%);
        margin-bottom: 25px;
    }
}